/* Calendars */
.nova-months-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Calendar */
.nova-calendar {
  font-family: inherit;
  background: #fff;
  border: 1px solid #eaeaea;
  font-size: 18px;
  border-radius: .5em;
  padding: 1em;
  margin-top:.5em;
  width: max-content;
  display: inline-block;
}


.nova-calendar div.days {
  display: grid;
  grid-template-columns: repeat(7, 2em);
  margin-top: 0.5em;
  row-gap: .125em;
}

.day-header {
  font-weight: 600;
  text-align: center;
}

.day, .empty {
  font-size: .75em;
  font-weight: 500;
  text-align: center;
  padding: .825em 0 .75em 0;
  cursor: pointer;
  line-height: 1;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
}

button:is(.prev-month, .next-month) {
  cursor: pointer;
  background: transparent;
  padding: .6375em 1.035em;
  border-radius: 99em;
  border: none;
}

button:is(.prev-month, .next-month):hover {
  background: #cce5ff;
}

/* multi-list */
.multi-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  gap: 0.5em;
  width: 100%;
  box-sizing: border-box;
  max-width: 240px;
}

.multi-date-empty {
  font-size: .825em;
}

.nova-btn {
  font-family: inherit;
  padding: .25em .5em;
  border: 1px solid #eaeaea;
  border-radius: .25em;
  background: transparent;
  color: #252e38;
  cursor: pointer;
}

.nova-btn.remove-date:hover {
  background: rgba(235, 22, 22, 0.05);
  color: rgb(235, 22, 22);
  border-color: rgb(235, 22, 22);
}

/* Add effect on days */
.day.before-today {
  opacity: 0.5;
  pointer-events: none;
}

.day:not(.in-range, .selected):hover {
  border-radius: 99em;
  background: #f0f0f0;
}

.day.selected {
  position: relative;
  border-radius: 99em;
  background: #007bff;
  color: #fff;
}

.day.selected:has(+ .in-range, + .range-end):before,
.day.selected.range-end:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background: #cce5ff;
  z-index: 0;
  mix-blend-mode: darken;
  right: 0;
}

.day.in-range {
  background: #cce5ff;
  color: #222;
}

.day.range-start {
  background: #007bff;
  color: #fff;
}

.day.range-start:before {
  right: 0;
  width: 50%;
}

.day.range-end {
  background: #007bff;
  color: #fff;
}

.day.range-end:before {
  left: 0;
  width: 50%;
}

.day.blocked {
	opacity: 0.5;
	background: repeating-linear-gradient(135deg, transparent, #868686 2px, transparent 0, transparent 4px);
	cursor: not-allowed;
  pointer-events: none;
}

.day.no-range-start, .day.no-range-end {
  position: relative;
}

.day:is(.no-range-start, .no-range-end):after {
  content: "";
  position: absolute;
  opacity: 0.5;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(135deg, transparent, #ff9800 2px, transparent 0, transparent 4px);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  pointer-events: none;
}

.day.no-range-start:after {
  background: repeating-linear-gradient(135deg, transparent, #ff9800 2px, transparent 0, transparent 4px);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.day.no-range-end:after {
  background: repeating-linear-gradient(135deg, transparent, #ff9800 2px, transparent 0, transparent 4px);
  clip-path: polygon(0 100%, 0 0, 100% 100%);
}

.day.no-range-start.no-range-end:after {
  clip-path: unset;
}

.nova-calendar.invalid-range {
  animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
  border-color: #ff9800;
}

@keyframes shake {
  10%, 90% { transform: translateX(-2px); }
  20%, 80% { transform: translateX(2px); }
  30%, 50%, 70% { transform: translateX(-4px); }
  40%, 60% { transform: translateX(4px); }
  100% { transform: none; }
}