/* Page */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  font-family: 'Inter', Poppins, sans-serif;
  font-feature-settings: 
    'liga' 1,      /* Standard ligatures */
    'dlig' 1,      /* Discretionary ligatures */
    'hlig' 1,      /* Historical ligatures */
    'calt' 1,      /* Contextual alternates */
    'smcp' 1,      /* Small caps */
    'c2sc' 1,      /* All small caps */
    'pcap' 1,      /* Petite caps */
    'c2pc' 1,      /* All petite caps */
    'onum' 1,      /* Oldstyle numbers */
    'lnum' 1,      /* Lining numbers */
    'pnum' 1,      /* Proportional numbers */
    'tnum' 1,      /* Tabular numbers */
    'zero' 1,      /* Slashed zero */
    'frac' 1,      /* Fractions */
    'subs' 1,      /* Subscript */
    'sups' 1,      /* Superscript */
    'ss01' 1,      /* Stylistic set 1 */
    'ss02' 1,      /* Stylistic set 2 */
    'ss03' 1,      /* Stylistic set 3 */
    'ss04' 1,      /* Stylistic set 4 */
    'ss05' 1,      /* Stylistic set 5 */
    'ss06' 1,      /* Stylistic set 6 */
    'ss07' 1,      /* Stylistic set 7 */
    'ss08' 1,      /* Stylistic set 8 */
    'ss09' 1,      /* Stylistic set 9 */
    'ss10' 1,      /* Stylistic set 10 */
    'salt' 1,      /* Stylistic alternates */
    'case' 1,      /* Case-sensitive forms */
    'locl' 1,      /* Localized forms */
    'kern' 1;      /* Kerning */
}

.container {
  display: flex;
  gap: 2rem;
}

/* Calendar */

/* Button */
.trigger {
    min-width: 200px;
    max-width: 340px;
    background: transparent;
    color: #252e38;
    border: 1px solid #eaeaea;
    padding: .5rem .75rem .25rem .75rem;
    border-radius: .5rem;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
}

.trigger {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.trigger .label {
  display: block;
  text-align: left;
  font-size: .75rem;
  font-weight: 500;
  line-height: .8;
}

/* Dates */
.trigger .dates {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
  text-align: left;
}

/* Icon */
.trigger .icon {
    display: flex;
    align-items: center;
}

.trigger .icon svg {
  width: 1.5em;
  height: 1.5em;
  fill: #252e38;
  transition: transform .2s ease-in-out;
}